---
apiVersion: v1
baseDomain: {{ ocp4_base_domain }}
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  name: master
  hyperthreading: Enabled
  replicas: {{ master_instance_count }}
metadata:
  name: {{ guid }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  networkType: OpenshiftSDN
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
fips: false
pullSecret: '{{ ocp4_pull_secret |  replace("'",'"') }}'
sshKey: |
  {{ idrsapub.content | b64decode }}
