---
apiVersion: v1
metadata:
  name: {{ guid }}
baseDomain: {{ ocp4_base_domain }}
controlPlane:
  name: master
  hyperthreading: Enabled
  replicas: {{ master_instance_count }}
compute:
- name: worker
  hyperthreading: Enabled
  replicas: 0
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineCIDR: 10.0.0.0/16
  serviceNetwork:
  - 172.30.0.0/16
  networkType: OpenshiftSDN
platform:
  none: {}
pullSecret: '{{ ocp4_pull_secret |  replace("'",'"') }}'
sshKey: |
  {{ idrsapub.content | b64decode }}
