{{ '{"ignition":{"config":{"append":[{"source":"http://' }}"{{ r_osp_facts | json_query('ansible_facts.openstack_servers[?(@.name==`web-server`)].public_v4') }}"/{{ item }}{{ '"}]},"version":"2.2.0"}}' }}
